IDEIS/
Reference*/
Homo_Sapiens_*/
Benchmarks/GSE187515
Benchmarks/GSE212998
Benchmarks/Homo_Sapiens_*
Benchmarks/subset_bams/
Benchmarks/Transcriptome
Benchmarks/subset-bam_linux
Benchmarks/*.csv
Benchmarks/whitelist.tmp

GSE187515/*
GSE187515/*.csv
!GSE187515/*template.csv
!GSE187515/FeatureReference.csv
!GSE187515/GSE187515_preparation.Rmd
!GSE187515/GSE187515_analysis.Rmd

GSE212998/*
GSE212998/*.csv
!GSE212998/*template.csv
!GSE212998/FeatureReference.csv
!GSE212998/GSE212998_preparation.Rmd
!GSE212998/GSE212998_analysis.Rmd

GSE155006/*
GSE155006/*.csv
!GSE155006/*template.csv
!GSE155006/GSE155006_preparation.Rmd
!GSE155006/GSE155006_analysis.Rmd

PRJEB40376/*
PRJEB40376/*.csv
!PRJEB40376/*template.csv
!PRJEB40376/FeatureReference.csv
!PRJEB40376/PRJEB40376_preparation.Rmd
!PRJEB40376/PRJEB40376_analysis.Rmd
